body{
	background-image: url(../images/bg.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #4d4e4f;
	text-align:center;
}
h1{
	font-family: Brush Script MT;
	font-size:40px;
	
}
li{
	list-style:none;
}
a{
	color: #4d4e4f;
	text-decoration:none;
}
.body{
	margin: 0 200px 0 200px;
	background-image: url(../images/bg2.jpg);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.top{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	padding: 30px;
	padding-bottom:0;
	text-align: center;
	margin:0;
}
#iti{
	line-height: 2px;
}
.button{
	background: #cd5e77; 
	color: #fff;
	padding: 10px 25px;
}
.button:hover{
	opacity:0.6
}
.button1{
	background: #ee959e; 
	color: #fff;
	padding: 10px 25px;
}
.button1:hover{
	opacity:0.6
}
.button2{
	background: #c98276; 
	color: #fff;
	padding: 10px 25px;
}
.button2:hover{
	opacity:0.6
}

.nav{
	padding-bottom: 0;
}
#main-menu {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.pics{
	margin-top: 0;
	padding-top: 0;
	padding:50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}
#pic1{
	height:500px;
	width: 250px;
	background-image: url(../images/1.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
#pic2{
	height:500px;
	width: 250px;
	background-image: url(../images/5.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
#pic3{
	height:500px;
	width: 250px;
	background-image: url(../images/7.jpg);
	background-position: 28% 72%;
	background-size: cover;
	background-repeat: no-repeat;
}
#pic1:hover,#pic2:hover,#pic3:hover{
	opacity:0.6;
}
.articles{
	padding:0;
	padding-right:50px;
	padding-left:50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}
.otr{
	line-height:20px;
}
#h1{
	font-size:33px;
}
.inside{
	padding:50px;
	padding-top:0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}
.button3{
	background: #fdab9f; 
	color: #fff;
	padding: 10px;
	margin-left:80px;
	margin-right:80px;
}
.button3:hover{
	opacity:0.6
}
.button4{
	background: #fdab9f; 
	color: #fff;
	padding: 10px;
	margin-left:205px;
	margin-right:205px;
}
.button4:hover{
	opacity:0.6
}
.sec{
	padding:50px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}
#pic4{
	height:330px;
	width: 300px;
	background-image: url(../images/8.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#pic4:hover{
	opacity:0.6;
}
.footer{
	text-align:center
}
